<nav id="navigationID">
    <div class="navigationDivCLASS">
        <div class="navigationEintragDivCLASS"><a class="navigationLinkCLASS" href="hauptseite">Hauptseite</a></div>
        <div class="navigationEintragDivCLASS"><a class="navigationLinkCLASS" href="strafen">Strafen</a></div>
        <div class="navigationEintragDivCLASS"><a class="navigationLinkCLASS" href="bussgelder">Bußgelder</a></div>
        <div class="navigationEintragDivCLASS"><a class="navigationLinkCLASS" href="urteile">Urteile</a></div>
        <div class="navigationEintragDivCLASS"><a class="navigationLinkCLASS" href="gesetze">Gesetze</a></div>
        <div class="navigationEintragDivCLASS"><a class="navigationLinkCLASS" href="{% url 'logout' %}">Abmelden</a></div>
    </div>
</nav>
