{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Profil-Seite</title>
    <link rel="stylesheet" href="{% static 'css/recht.css' %}">
</head>
<body>

{% include "rechtApp/navigationsleiste.html" %}

<div class="hauptbereichDivCLASS">
    <h2 class="UeberschriftCLASS">Profil von {{ benutzer.benutzername }}</h2>

    <div class="gesamtDivCLASS">

        <div class="karteDivCLASS">
            <div class="inhaltNummerDivCLASS">Persönliche Daten</div>

            <div class="inhaltDivCLASS"><b>Benutzername:</b> {{ benutzer.benutzername }}</div>
            <!--<div class="inhaltDivCLASS"><b>Email:</b> {{ benutzer.email }}</div>-->
            <div class="inhaltDivCLASS"><b>Passwort:</b> {{ benutzer.passwort }}</div>
            <!--<div class="inhaltDivCLASS"><b>Beruf (aus API):</b> {{ beruf }}</div>-->
            <!--<div class="inhaltDivCLASS"><b>Qualifikationen:</b> {{ benutzer.qualifikation|join:", " }}</div>-->
            <div class="inhaltDivCLASS"><b>Beruf (aus API):</b> {{ beruf }}</div>
        </div>

        <div class="karteDivCLASS">
            <div class="inhaltNummerDivCLASS">Deine Urteile</div>

            {% if urteile %}
                {% for u in urteile %}
                    <div class="karteDivCLASS" style="width:90%;">

                        <div class="inhaltDivCLASS">
                            <b>Richter:</b> {{ u.richter }}
                        </div>

                        <div class="inhaltDivCLASS">
                            <b>Gesetz:</b> {{ u.gesetz.titel }}
                        </div>
                        <div class="inhaltDivCLASS">
                            {{ u.gesetz.beschreibung }}
                        </div>

                        {% if u.bussgeld %}
                            <div class="inhaltDivCLASS">
                                <b>Bußgeld:</b> {{ u.bussgeld.betrag }}€
                            </div>
                        {% endif %}

                        {% if u.strafe %}
                            <div class="inhaltDivCLASS">
                                <b>Strafe:</b> {{ u.strafe.jahre }} Jahre
                            </div>
                        {% endif %}

                    </div>
                {% endfor %}
            {% else %}
                <div class="keinInhaltCLASS">Keine Urteile vorhanden</div>
            {% endif %}
        </div>

    </div>
</div>

{% include "rechtApp/banner.html" %}

</body>
</html>
