{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Gesetz-Seite</title>
    <link rel="stylesheet" href="{% static 'css/recht.css' %}">
</head>
<body>
    {% include "rechtApp/navigationsleiste.html" %}

    <div class="hauptbereichDivCLASS">
        <h2 class="UeberschriftCLASS">Statistiken</h2>
        <div class="gesamtDivCLASS">
            
        </div>
    </div>
    <h1>Anzeigen pro Gesetz</h1>

    <img
        src="{% url 'anzeigen_diagramm' %}"
        alt="Diagramm: Anzahl der Anzeigen pro Gesetz"
        style="max-width: 900px; width: 100%; border: 1px solid #ccc;"
    >

    <h1>Urteile mit Bußgeldern und Urteile mit Strafen</h1>

        <img
        src="{% url 'diagramm_urteile' %}"
        alt="Diagramm: Anzahl der Anzeigen pro Gesetz"
        style="max-width: 900px; width: 100%; border: 1px solid #ccc;"
    >
    <h1>OpenData Downloads</h1>
    <a href="{% url 'urteile_als_csv_download' %}"> Urteile CSV-Download</a>
    <a href="{% url 'urteile_xml_download' %}"> Urteile XML-Download</a>

    </div>
    {% include "rechtApp/banner.html" %}
</body>
</html>
