{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Anzeigen-Seite</title>
    <link rel="stylesheet" href="{% static 'css/recht.css' %}">
</head>
<body>

    {% include "rechtApp/navigationsleiste.html" %}

        <div class="hauptbereichDivCLASS">
        <h2 class="UeberschriftCLASS">Gesetz erlassen:</h2>
        <form> method="POST" <!--action=""--> </form> class="formularDivCLASS">
            {% csrf_token %}
<!---->
            <label>ID der Person die angezeigt werden soll:</label>
            <input class="eingabeFeldCLASS" type="text" name="titel" required>

            <label>Begründung:</label>
            <textarea class="eingabeFeldCLASS" name="beschreibung" required></textarea>

            <button type="submit" class="buttonPrimarCLASS">Anzeige abschicken</button>
        </form>
    </div>

    <div class="hauptbereichDivCLASS">
        <h2 class="UeberschriftCLASS">Strafen</h2>
        <div class="gesamtDivCLASS">
            {% for strafe in strafen %}
            <div class="karteDivCLASS">
                <p class="inhaltNummerDivCLASS">Art. {{ strafe.gesetz_id }}</p>
                <p class="inhaltDivCLASS">Strafe: {{ strafe.beschreibung }}</p>
                <p class="inhaltDivCLASS">Jahre: {{ strafe.jahre }}</p>
            </div>
            {% empty %}
            <p class="keinInhaltCLASS">Keine Strafen vorhanden.</p>
            {% endfor %}
        </div>
    </div>

    {% include "rechtApp/banner.html" %}

</body>
</html>
