{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Urteil-Seite</title>
    <link rel="stylesheet" href="{% static 'css/recht.css' %}">
</head>
<body>

    {% include "rechtApp/navigationsleiste.html" %}

    <div class="hauptbereichDivCLASS">
        <h2 class="UeberschriftCLASS">Urteile</h2>
        <div class="gesamtDivCLASS">
            {% for urteil in urteile %}
            <div class="karteDivCLASS">
                <p class="inhaltNummerDivCLASS">Urteil {{ urteil.id }}</p>
                <p class="inhaltDivCLASS">Person: {{ urteil.person }}</p>
                <p class="inhaltDivCLASS">Richter: {{ urteil.richter }}</p>

                {% if urteil.gesetz %}
                    <p class="inhaltDivCLASS">Gesetz: {{ urteil.gesetz }}</p>
                {% else %}
                    <p class="inhaltDivCLASS">Gesetzdaten nicht verfügbar</p>
                {% endif %}

                {% if urteil.bussgeld %}
                    <p class="inhaltDivCLASS">Bußgeld: {{ urteil.bussgeld }}€</p>
                {% else %}
                    <p class="inhaltDivCLASS">Kein Bußgeld</p>
                {% endif %}

                {% if urteil.strafe %}
                    <p class="inhaltDivCLASS">Strafe in Jahren: {{ urteil.strafe }}</p>
                {% else %}
                    <p class="inhaltDivCLASS">Keine Strafe</p>
                {% endif %}
            </div>
            {% empty %}
            <p class="keinInhaltCLASS">Keine Urteile vorhanden.</p>
            {% endfor %}
        </div>
    </div>

    {% include "rechtApp/banner.html" %}

</body>
</html>
